.buttons {
    padding: 50px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    .smashButton {
        flex: 0 0 auto;
    }
}

button {
    padding: 10px;
    background: darken($subtleAccent, 30);
    color: $bodyFontColor;
    border-radius: 10px;
    &:hover {
        background: darken($subtleAccent, 40);
    }
    &:disabled {
        color: rgba($bodyFontColor, .5);
        background: rgba($subtleAccent, .5);
    }
    margin: 15px;
}

.reset {
    display: none;
    margin: 30px auto 80px auto;
}

@media (max-width: 700px) {
    .buttons {
        flex-direction: column;
    }
}