.lyrics {
	background: $subtleAccent;
	padding: 35px 15%;
	margin: 40px auto;
	border-radius: 5px;
	border-left: 10px solid $boldAccent;
	h3 {
		position: relative;
	}
	h3::after {
		position: absolute;
		top: 40px;
		left: 0px;
		content: '';
		width: 70px;
		border-bottom: 4px solid $boldAccent;
		border-bottom: 4px solid darken($subtleAccent, 50);
	}
}

.title {
	color: darken($subtleAccent, 50);
}

.highlightStyling {
	color: #49955f;
	font-weight: bold;
	border-bottom: 2px solid #49955f;
}

/* Css Loader styles taken directly from https://loading.io/css/ */
.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	margin: 50px 0px 150px 0px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid $boldAccent;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: $boldAccent transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}

.firstLoader,
.secondLoader {
	display: none;
}

@media (max-width: 450px) {
	.lyrics {
		padding: 35px 5%;
	}
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
