// $primary: #2c3e50;
// $secondary: #F4F4F4;
// $tertiary: #333;
// $accent: #d8f1e3;
$primaryFont: 'Open Sans', sans-serif;
$headingFont: 'Alfa Slab One', cursive;

$bodyFontColor: #333;
$bodyBackgroundColor: #F4F4F4;
$boldAccent: #2c3e50;
$subtleAccent: #d8f1e3;