@import './normalize';
@import './variables';
@import './typography';
@import './header';
@import './form';
@import './songLyrics';

html {
    text-align: center;
}

body {
    background: $bodyBackgroundColor;
    color: $bodyFontColor;
}

button {
    padding: 10px;
    background: darken($subtleAccent, 30);
    color: $bodyFontColor;
    border-radius: 10px;
    &:hover {
        background: darken($subtleAccent, 40);
    }
    &:disabled {
        color: rgba($bodyFontColor, .5);
        background: rgba($subtleAccent, .5);
    }
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
    padding: 15px;
}

.originalSong, .smashedSong {
    text-align: left;
    display: none;
}
