@import './normalize';
@import './variables';
@import './typography';
@import './header';
@import './form';
@import './songLyrics';
@import './buttons';

html {
    text-align: center;
    scroll-behavior: smooth;
}

body {
    background: $bodyBackgroundColor;
    color: $bodyFontColor;
}

a {
    color: $bodyFontColor;
    text-decoration: none;
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
    padding: 15px;
}

.originalSong, .smashedSong {
    text-align: left;
    display: none;
}
